body{
    background-color: #0a0a23;
}
#text{
    background-color: #0a0a23;
    color: #ffffff;
    padding: 10px;
}
#game{
    max-width:500px;
    max-height:400px;
    color: #ffffff;
    background-color:#ffffff;
    margin: 30px auto 0 auto;
    padding: 10px;
}
#controls, #stats{
    border: 1px solid #0a0a23;
    color: #0a0a23;
    padding:5px;
}
#monsterStats{
    display: none;
    background-color: #c70d0d;
    color: #ffffff;
    padding: 5px;
    border: 1px solid #0a0a23;
}
.stat{
    padding-right:10px;
}
button{
    cursor: pointer;
    color: #0a0a23;
    background-color: #feac32;
    background-image: linear-gradient(#fecc4c,#ffac33);
    border: 3px solid #feac32;
}